p {
	color: navy;
}
h1 {
	color: rgb(21, 20, 20);
	
}
.div {
	height: 400px;
	width: 50%;
	border: 1px solid green;
	background-color: aquamarine;
}
ul{
	list-style: none;
}
li {
	font-size: 30px;
}
small {
	font-size: 20px;
	background-color: yellow;
}